/* PC Screens */

@media only screen and (min-width: 1020px) and (max-height: 1300px) {
    /* body {
        color: blue;
    } */


    /* ------------------------------- Navbar ------------------------------------- */

    .left-nav {
        /* border: 1px solid red; */
        margin-left: 5%;
        width: 6%;
    }

    .left-nav img {
        width: 100%;
    }

    .right-nav {
        /* border: 1px solid red; */
        backdrop-filter: unset;
        background-color: unset;
        border: unset;
        height: 100%;
        padding: 0;
        position: static;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .nav-item a {
        text-decoration: none;
        font-family: var(--minor-font);
        font-size: 1.2rem;
        font-weight: 600;
        color: #000000;
    }

    .menu-icon {
        display: none;
    }

    /* ------------------------------- Hero Section ------------------------------------- */

    .head-info-cnt {
        width: 70%;
    }

    .head-main {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: space-between;
    }

    .head-main-text {
        /* border: 2px solid purple; */
        height: 100%;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    .head-main-text p {
        font-size: 1.2rem;
    }

    .head-main-text .line {
        width: 23%;
    }

    .head-main-text h3 {
        /* border: 1px solid red; */
        /* width: 70%; */
        font-size: 3rem;
    }

    /* HERO-FORM */

    .head-main-form {
        height: 83%;
        width: 40%;
        margin-right: 6%;
        margin-top: 5%;
    }

    .form-header h4 {
        font-size: 1.2rem;
    }

    .form-header .line {
        width: 40%;
    }

    .main-form input,
    .main-form textarea {
        font-size: 0.9rem;
    }

    .main-form textarea {
        height: 40%;
    }

    .button button {
        font-size: 1.2rem;
        padding: 0.6rem 3rem;
    }

    /* ------------------------------- About Section ------------------------------------- */

    .about-top {
        /* border: 1px solid black; */
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 7%;
    }

    .about-top-img {
        /* border: 1px solid yellow; */
        width: 45%;
        height: 80vh;
    }

    .img-2 {
        border: 0.8rem solid var(--white);
        height: 55%;
        bottom: -15%;
        right: -15%;
    }

    .about-top-info {
        width: 45%;
        margin-top: 0;
    }

    .about-text {
        align-items: flex-start;
    }

    .about-text h3 {
        font-size: 2rem;
    }
    
    #about-alt {
        font-size: 1.3rem;
    }
    
    .about-text p {
        line-height: 1.5rem;
        font-size: 1.1rem;
    }

    .about-bottom {
        margin-top: 8%;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 2.4rem 2rem;
    }

    .about-bottom-text {
        width: 50%;
    }

    .about-bottom-text h3 {
        font-size: 1.8rem;
    }

    .about-bottom-text p {
        margin-top: 0.3rem;
        font-size: 1rem;
    }

    .call-btn {
        /* border: 2px solid red; */
        font-size: 0.9rem;
        width: 22%;
        margin-right: 5%;
        margin-top: 0;
    }

    /* --------------------- Services Section ------------------ */

    .service-cnt {
        margin-top: 8%;
    }

    .services-text {
        width: 57%;
    }

    .services-text h3 {
        font-size: 2.5rem;
    }

    .services-text .line {
        width: 10%;
    }

    .services-text p {
        font-size: 0.93rem;
        margin-top: 3%;
    }

    .services-cards {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .service-card {
        width: 26%;
        margin-top: 5%;
    }

    .service-card .card-img {
        /* height: 40%; */
        width: 45%;
    }

    .service-card h4 {
        font-size: 1.2rem;
    }

    .service-card p {
        width: 90%;
        font-size: 0.8rem;
    }

    /* ---------------------Contact Section ------------------ */

    .contact-container {
        margin-top: 5%;
        /* padding-top: 2.5rem; */
    }

    .contact-form {
        padding: 5rem 7rem;
    }

    .contact-form-text {
        /* border: 2px solid yellow; */
        width: 54%;
    }

    .contact-form-text h4 {
        font-size: 3rem;
    }

    .contact-form-text p {
        font-size: 1rem;
        margin-top: 2%;
        line-height: 1.5rem;
    }

    .other-form input {
        font-size: 2rem;
        border-bottom: 0.14rem solid #A9A1A1;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .contact-btn button {
        font-size: 2rem;
    }

    .contact-btn i {
        font-size: 2.5rem;
    }

    /* ---------------------More-Services Section ------------------ */

    .swiper-button-next,
    .swiper-button-prev {
        display: inline-block;
    }

    .extra-header h4 {
        font-size: 1.7rem;
    }

    .extra-cards {
        margin: 5% 0;
        width: 70%;
        gap: 3rem;
    }

    .extra-card {
        width: 90%;
        padding: 2rem 2rem;
        border-radius: 0.8rem;
    }

    .extra-card h4 {
        font-size: 1.2rem;
    }

    .extra-card p {
        font-size: 0.9rem;
    }

    /* --------------------- Footer Section ------------------ */

    .footer {
        margin-top: 2%;
    }

    .footer-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 5rem 0;
    }

    .ft-logo {
        width: 10%;
    }

    .ft-info {
        width: 75%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
    }

    .ft-phone,
    .ft-mail {
        text-align: left;
        justify-content: flex-start;
    }

    .footer-btm {
        margin: 0;
    }

}

/* Tab View */

@media screen and (max-width: 1024px) and (min-height: 1023px) {
    body {
        color: purple;
    }

    .menu-icon .bar-icon {
        padding: 0.65rem 0.9rem;
        font-size: 1.2rem;
    }

    .head-info-cnt {
        width: 78%;
    }

    .head-main-text {
        margin-top: 2%;
    }

    .head-main-text p {
        font-size: 1.1rem;
    }

    .head-main-text .line {
        /* margin-top: 10%; */
        width: 20%;
    }

    .head-main-text h3 {
        font-size: 2.1rem;
    }

    .form-header h4 {
        font-size: 1.2rem;
    }

    .form-header .line {
        width: 45%;
    }

    .main-form {
        width: 85%;
        height: 82%;
    }

    .main-form input,
    .main-form textarea {
        font-size: 1rem;
        margin-top: 6%;
    }

    .main-form .input-text {
        width: 100%;
    }

    .main-form textarea {
        height: 40%;
    }

    .button button {
        font-size: 1.2rem;
        padding: 0.7rem 3rem;
    }

    /* About */

    .about-top-img {
        width: 65%;
        height: 46vh;
    }

    .img-2 {
        border: 0.5rem solid var(--white);
        /* height: 55%; */
        bottom: -10%;
        right: -15%;
    }

    .about-top-info {
        margin-top: 15%;
        gap: 2.5rem;
    }

    .about-text {
        gap: 1.5rem;
    }

    .about-text h3 {
        font-size: 1.8rem;
    }

    .about-text p {
        font-size: 1.5rem;
    }

    .about-bottom {
        padding: 2.5rem 1.3rem;
    }

    .about-bottom-text {
        width: 95%;
    }

    .about-bottom-text h3 {
        font-size: 2rem;
    }

    .about-bottom-text p,
    .call-btn {
        font-size: 1.4rem;
    }

    /* Services */

    .services-text {
        width: 80%;
    }

    .services-text h3 {
        font-size: 3rem;
    }

    .services-text .line {
        width: 15%;
    }

    .services-text p {
        font-size: 1.2rem;
    }

    .service-card {
        width: 54%;
    }

    .service-card .card-img {
        width: 50%;
    }

    .service-card h4 {
        font-size: 1.5rem;
    }

    .service-card p {
        width: 70%;
        font-size: 1rem;
    }

    /* Contact */

    .contact-form {
        padding: 2rem 5rem;
    }

    .contact-form-text {
        /* border: 1px solid yellow; */
        width: 58%;
    }

    .contact-form-text h4 {
        font-size: 1.5rem;
    }

    .contact-form-text p {
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.2rem;
        margin-top: 3%;
    }

    .other-form input {
        font-weight: 300;
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .contact-btn button {
        font-size: 1.4rem;
    }

    .contact-btn i {
        font-size: 1.8rem;
    }

    /* More-Services */
    
    .extra-header h4 {
        font-size: 1.3rem;
    }

    .extra-cards {
        width: 85%;
        gap: 3.3rem;
    }

    .extra-card {
        padding: 0.8rem 1rem;
    }

    .extra-card h4 {
        font-size: 0.9rem;
    }

    .extra-card p {
        font-size: 0.7rem;
    }

    /* Footer */

    .ft-logo {
        width: 24%;
    }

    .ft-info h3 {
        font-size: 1.6rem;
    }

    .ft-info p {
        font-size: 1.35rem;
    }

    .ft-icons i {
        font-size: 1.5rem;
    }

    .fb-icon,
    .ig-icon {
        padding: 0.3rem 0.6rem;
    }
}


/* I-pad Pro */

@media screen and (max-width: 1024px) and (min-height: 1366px) {
    body {
        color: yellow;
    }
}

@media only screen and (min-width: 912px) and (max-width: 915px) {
    body {
        color: red;
    }

    .head-main-text {
        font-size: 0.9rem;
    }

    .head-main-text h3 {
        font-size: 2.8rem;
    }

    .form-header h4 {
        font-size: 1.5rem;
    }

    .main-form input,
    .main-form textarea {
        font-size: 1.25rem;
    }

    .main-form .input-text {
        width: 100%;
    }

    .button {
        width: 38%;
    }

    .button button {
        font-size: 1.3rem;
        padding: 1rem 3.5rem;
    }

    .img-2 {
        border: 0.9rem solid var(--white);
        right: -8%;
    }

    .about-text h3 {
        font-size: 2.3rem;
    }

    .about-bottom {
        padding: 4rem 1.5rem;
        margin-top: 5%;
        gap: 1.2rem;
    }

    .about-bottom-text h3 {
        font-size: 2.8rem;
    }

    .about-bottom-text p {
        font-size: 1.7rem;
    }

    .call-btn {
        font-size: 1.8rem;
    }

    .services-text h3 {
        font-size: 3.6rem;
    }

    .services-text p {
        font-size: 1.6rem;
    }

    .service-card h4 {
        font-size: 2.3rem;
    }

    .service-card p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .contact-form {
        padding: 4.5rem 6rem;
    }

    .contact-form-text {
        width: 78%;
    }

    .contact-form-text h4 {
        font-size: 2.2rem;
    }

    .contact-form-text p {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    .other-form input {
        font-weight: 300;
        font-size: 1.9rem;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    .contact-btn {
        margin-top: 10%;
    }

    .contact-btn button {
        font-size: 1.9rem;
    }

    .contact-btn i {
        font-size: 3rem;
    }

    .extra-header h4 {
        font-size: 1.8rem;
    }

    .extra-cards {
        width: 90%;
    }

    .extra-card h4 {
        font-size: 1.1rem;
    }

    .extra-card p {
        font-size: 1rem;
    }
}

/* Surface Duo */

@media only screen and (min-width: 540px) and (max-width: 541px) and (min-height: 720px) and (max-height: 721px) {
    body {
        color: green;
    }

    .head-main-text {
        margin-top: 2%;
    }

    .head-main-text p {
        font-size: 0.8rem;
    }

    .head-main-text .line {
        width: 25%;
    }

    .head-main-text h3 {
        font-size: 1.5rem;
    }

    .form-header h4 {
        font-size: 1rem;
    }

    .form-header .line {
        width: 40%;
    }

    .main-form {
        width: 90%;
        height: 82%;
    }

    .main-form input,
    .main-form textarea {
        font-size: 0.7rem;
        margin-top: 5%;
    }

    .main-form .input-text {
        width: 100%;
    }

    .main-form textarea {
        height: 40%;
    }

    .button button {
        font-size: 0.7rem;
        padding: 0.7rem 3rem;
    }

    .about-top-img {
        height: 50vh;
    }

    .img-2 {
        border: 0.5rem solid var(--white);
        /* height: 55%; */
        bottom: -15%;
        right: -16%;
    }

    .about-text h3 {
        font-size: 1.4rem;
    }

    .about-bottom {
        padding: 2.5rem 1.3rem;
    }

    .service-card h4 {
        font-size: 1.4rem;
    }

    .service-card p {
        width: 78%;
        font-size: 0.8rem;
    }

    .contact-form-text {
        width: 70%;
    }

    .contact-form-text h4 {
        font-size: 1.3rem;
    }

    .contact-form-text p {
        font-size: 0.9rem;
        font-weight: 200;
        line-height: 1.2rem;
        margin-top: 3%;
    }

    .other-form input {
        font-weight: 300;
        font-size: 1.2rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
    }

    .contact-btn button {
        font-size: 1.1rem;
    }

    .contact-btn i {
        font-size: 1.8rem;
    }

    .extra-header h4 {
        font-size: 0.9rem;
    }

    .extra-cards {
        width: 90%;
        gap: 3.3rem;
    }

    .extra-card {
        padding: 0.3rem 1rem;
    }

    .extra-card h4 {
        font-size: 0.6rem;
    }

    .extra-card p {
        font-size: 0.5rem;
    }

    .ft-logo {
        width: 22%;
    }

    .ft-info h3 {
        font-size: 1rem;
    }

    .ft-info p {
        font-size: 0.8rem;
    }
}
